<!--
Bench 
-->

<script src="https://unpkg.com/vue"></script> 
<script src="https://unpkg.com/vue-router"></script> 
<script type="text/x-template" id="tag-template">
    <div>
    <ul>
        <li v-for="tag in tags">
            {{ tag }}
        </li>
    </ul>
    <input v-model="newTag" @keyup.enter="addTag" placeholder="Add tag"/>
</div>
</script>
<script type="text/x-template" id="project-template">
    <div>
    <ul>
        <li v-for="proj in projects">
            {{ proj.name }} {{ proj.owner }} {{ proj.desc }} {{ proj.startDate}} {{ proj.skills}}
        </li>
    </ul>
    Name: <input v-model="newProject.name"/><br/>
    Owner: <input v-model="newProject.owner"/><br/>
    Description: <textarea v-model="newProject.desc"/><br/>
    Start Date: <input v-model="newProject.startDate"/><br/>
    Skills: <select v-model="newProject.skills" multiple>
        <option v-for="skill in skills">
            {{ skill }}
        </option>
    </select><br/>
    <button @click="addProject" type="submit">Add Project</button>
</div>
</script>





<div id="bench-app">
    <h1>Welcome to the bench</h1>
    <p>
        <router-link to="/tags">Tags</router-link>
        <router-link to="/resources">Resources</router-link>
        <router-link to="/Projects">Projects</router-link>
    </p>
    <router-view></router-view>
</div>

<script src="./bench.js"></script>
