<!--
Bench 
-->

<script src="https://unpkg.com/vue"></script> 
<script src="https://unpkg.com/vue-router"></script> 
<script type="text/x-template" id="tag-template">
    <div>
    <ul>
        <li v-for="tag in tags">
            {{ tag }}
        </li>
    </ul>
    <input v-model="newTag" @keyup.enter="addTag" placeholder="Add tag"/>
</div>
</script>

<div id="bench-app">
    <h1>Welcome to the bench</h1>
    <p>
        <router-link to="/tags">Tags</router-link>
        <router-link to="/resources">Resources</router-link>
    </p>
    <router-view></router-view>
</div>

<script src="./bench.js"></script>
